{{ $paginator := .Paginator }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}
<div class="pagination">

    {{ i18n "morepost" }}:
    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
      Prev
      </a>&nbsp
    {{ end }}

    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}
    {{ if ne . $paginator }}
      <a href="{{ .URL }}" class="pagination__link">
        {{ .PageNumber }}
      </a>
      {{ else }}
      {{ .PageNumber }}
      {{ end }}&nbsp
    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
      Next
      </a>
    {{ end }}

</div>
{{ end }}
