.body-section {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 600px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content {
    margin-top: 30px;
}

.post-listing {
    margin-top: 50px;
}

.post-listing h2 {
    font-weight: normal;
}

.post-listing h3 {
    font-weight: normal;
}

.post-listing .title {
    margin-bottom: 10px;
}

.post-listing .description {
    color: #6e6e6e;
}

.post-listing .date {
    color: #6e6e6e;
    font-style: italic;
    padding-right: 20px;
}

.link {
    text-decoration: none;
    background-color: none;
}

a {
    color: black;
    text-decoration: #d70a53 underline
}

a:hover {
    background-color: #1793d1;
    color: white;
}

.link:focus {
    outline: 0;
}

.pagination {
    margin-top: 20px;
}

body {
    font-family: "Libre Baskerville", serif;
    font-size: 12pt;
    line-height: 1.6;
    margin: 0;
    background-color: #ffffff;
}

code {
    font-size: 10pt;
}

h1, h2, h3, h4 {
    font-family: "Libre Baskerville", serif;
}

img {
    display: block;
    margin: auto;
    max-width: 90%;
}

.go-back {
    margin-top: 100px;
}

.nav {
    padding-bottom: 20px;
}

.nav-left {
}

.nav-right {
}

#footer-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-bottom: 100px;
    font-family: sans-serif;
    font-size: 12px;
}

@media screen and (max-width: 700px), screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 3) {
    .body-section {
        width: 90%;
    }
    #footer-section {
        width: 90%;
    }
}

@media screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    body {
        font-size: 36pt;
    }
    code {
        font-size: 30pt;
    }
    #footer-section {
        position: absolute;
        bottom: 0;
        font-size: 30pt;
    }
}

