---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <div class="body-section">
      <div class="content">
        <h1>{{ page.title }}</h1>
        {% if page.creator %} <p>{{ page.creator }}</p> {% endif %}
        {% if page.date %} <p>{{ page.date | date: "%-d %B %Y"}}</p> {% endif %}
        {{ content }}
      </div>
    </div>
    <button type="button" id="back-button">
        <a href="/" class="link">Back</a>
    </button>
  </body>
</html>
